fastapi
uvicorn[standard]
python-multipart
langchain
langchain-groq
langchain-community
chromadb
pymupdf
python-pptx
python-dotenv
groq
sentence-transformers
httpx
google-api-python-client
aiosqlite
databases
pydantic
